.bg-verde {
      background-color: #db0909 !important;
    }
    .img-box {
    
      padding: 15px;
      border-radius: 10px;
      text-align: center;
    }
    .img-box img {
      max-width: 100%;
      border-radius: 10px;
    }
    .img-box p {
      color: rgb(0, 0, 0);
      margin-top: 10px;
    }
    .header {
        background: url('../img/sp6.png') no-repeat center center/cover;
        padding: 50px;
        color: white;
        text-align: center;
      }
      
